body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #B22222, #FF5733);
    color: white;
    padding: 7px 7px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.drink-menu {
    text-align: center;
    padding: 50px 20px;
    margin-top: 60px;
}

.drink-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.drink-item {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
}

.drink-item:hover {
    transform: scale(1.05);
}

.drink-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    margin-top: 50px;
}
